﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.FormEdit {
    color: #30336A;
    border-color: #30336A;
    width: 100%;
}

.FormLabel {
    font-size: 10px;
    color: #30336A;
    text-align: left;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
