﻿@model refresh_project.ViewModel.PendaftarViewModel

<table class="table table-striped" style="color:#000066">
    @*<caption class="row">
            <h3 style="margin-top:0px">
                <span id="judul" style="font:bold; color:#000066; border-bottom:2px; margin-left:15px"></span>
                <button class="glyphicon glyphicon-edit" style="background-color: transparent; color:#000066; border-color:transparent" id="editBtn" data-id="@item.id" onclick="Edit(@item.id)" type="button"></button>
            </h3>
            <div class="col-xs-12" style="border-color:#000066">
                <hr-edit></hr-edit>
            </div>
        </caption>*@
    <tr style="border-top: 4px #000066">
        <th>Nama - Umur</th>
        <th>: @Html.DisplayFor(model => model.Nama) - @Html.DisplayFor(model => model.Umur)</th>
    </tr>
    <tr>
        <th>NPM/NIS</th>
        <th>: @Html.DisplayFor(model => model.NPM)</th>
    </tr>
    <tr>
        <th>Kontak</th>
        <th>: @Html.DisplayFor(model => model.No_Telp) / @Html.DisplayFor(model => model.Email)</th>
    </tr>
    <tr>
        <th>Alamat</th>
        <th>: @Html.DisplayFor(model => model.Alamat_Sekarang)</th>
    </tr>
    <tr>
        <th>Alamat Asal</th>
        <th>: @Html.DisplayFor(model => model.Alamat_Asal)</th>
    </tr>
    <tr>
        <th>Lokasi</th>
        <th>: @Html.DisplayFor(model => model.Lokasi)</th>
    </tr>
    <tr>
        <th>Jenis Kelamin</th>
        <th>: @ViewBag.jeniskelamin</th>
    </tr>
</table>
