﻿@model refresh_project.ViewModel.PendaftarViewModel

@using (Html.BeginForm("Edit", "Pendaftar", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="container" style="color: #30336A; border-bottom-color: #30336A; font-size: 14px; padding:0px 0px 0px 0px">
            @*NAMA-----2-----*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Nama *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Email Address *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control input-lg FormText" , @type = "email"} })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                </div>
            </div>
            @*----------------------------------------------------------------------------------------------------------------------------------------------------------*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-xs-3">
                        <label class="control-label FormLabel" style="text-align:left">NPM/NIS *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.NPM, new { htmlAttributes = new { @class = "form-control input-lg FormText", @type = "number" } })
                            @Html.ValidationMessageFor(model => model.NPM, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <label class="control-label FormLabel" style="text-align:left">Umur *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.Umur, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.Umur, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">No. Telepon *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.No_Telp, new { htmlAttributes = new { @class = "form-control input-lg FormText", @type = "number" } })
                            @Html.ValidationMessageFor(model => model.No_Telp, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                </div>
            </div>
            @*----------------------------------------------------------------------------------------------------------------------------------------------------------*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Alamat Asal *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.Alamat_Asal, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.Alamat_Asal, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Alamat Saat Ini *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.Alamat_Sekarang, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.Alamat_Sekarang, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                </div>
            </div>
            @*----------------------------------------------------------------------------------------------------------------------------------------------------------*@
            <div class="row" style="width:1000px">
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Jenis Kelamin *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.Jenis_Kelamin, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.Jenis_Kelamin, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="col-xs-6">
                        <label class="control-label FormLabel" style="text-align:left">Lokasi Saat Ini *</label>
                        <div class="FormEdit">
                            @Html.EditorFor(model => model.Lokasi, new { htmlAttributes = new { @class = "form-control input-lg FormText" } })
                            @Html.ValidationMessageFor(model => model.Lokasi, "", new { @class = "FormAlert" })
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <div class="modal-footer" style="margin-right: 25px">
        <input type="button" value="Batal" title="Cancel" class="btn" style="background-color: #FF6600; color:white" data-dismiss="modal" />
        <input type="submit" value="Simpan" title="Save" class="btn" style="background-color: #000066; color:white" />
    </div>
}


@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-edit").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert('Save successfully!');
                    $("#modal-edit").modal("hide");
                    GetList()
                }
                else {
                    alert('Error: ' + result.message);
                }
            }
        })
        return false;
    })
</script>