﻿@model IEnumerable<refresh_project.DataModel.tb_form_covid>


<h2 style="position:center; color:#30336A" align="center"><strong>List Pendaftar</strong></h2>
<table class="table table-striped">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            Jenis Kelamin
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokasi)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <button type="button" class="btn btn-default btn-lg" data-id="@item.Id" onclick="DetailsById(@item.Id)" style="background-color:white">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @ViewBag.jeniskelamin
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokasi)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="color:white; background-color: #E43031">
                        More
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" data-id="@item.Id" onclick="DetailsById(@item.Id)">Details</a></li>
                        <li><a href="#" data-id="@item.Id" onclick="EditById(@item.Id)">Edit</a></li>
                        <li><a href="#" data-id="@item.Id" onclick="DeleteById(@item.Id)">Delete</a></li>
                    </ul>
                </div>
            </td>
        </tr>
    }

</table>
