﻿<div class="body body-content">
    <div class="body-header" style="width: inherit; padding-left: 15px; margin-right:15px; color:#30336A; border-color:#30336A">
        <div class="body-applicant">

        </div>
    </div>
</div>

@*MODAL DETAIL*@
<div id="modal-all" class="modal fade" tabindex="-1" role="dialog" style="position:center">
    <div class="modal-dialog" role="document" style="max-width:600px">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#30336A; color:white">
                <h4 class="modal-title" id="modalTitle"></h4>        @*<---TITTLE NYA NIH*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@*MODAL EDIT*@
<div id="modal-edit" class="modal fade" tabindex="-1" role="dialog" style="position:center">
    <div class="modal-dialog" role="document" style="max-width:1000px">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#30336A; color:white">
                <h4 class="modal-title" id="modalTitle"></h4>        @*<---TITTLE NYA NIH*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts{
    <script type="text/javascript">
    $(document).ready(function () {
        GetList()
    })

        //LIST
        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Pendaftar")',
                type: 'get',
                success: function (result) {
                    $(".body-applicant").html(result);
                }
            });
        }

        //CREATE
        $("#btn-create").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "Applicant")',
                type: 'get',
                success: function (result) {
                    $(".body-applicant").html(result);
                }
            });
        })

        //DETAILS
        function DetailsById(id) {
            $.ajax({
                url: '@Url.Action("Details", "Pendaftar")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal-all").modal("show");
                    $("#modalTitle").text("Detail Pendaftar");
                }
            });
        }

        //EDIT
        function EditById(id) {
            $.ajax({
                url: '@Url.Action("Edit", "Pendaftar")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal-edit").modal("show");
                    $("#modalTitle").text("Edit Data Pendaftar");
                }
            });
        }

        //DELETE
        function DeleteById(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Sales")',
                type: 'get',
                data: { id: id },
                success: function (result) {
                    $(".modal-body").html(result);
                    $("#modal-all").modal("show");
                    $("#modalTitle").text("Delete Data");
                }
            });
        }

    </script>
}
